*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
	font-family: "myfont";
	src: url("fonts/Moon Flower Bold.woff2") format('woff2');
}


.content {
    font-family: 'myfont', sans-serif;
    line-height: 1.6;
    background-image: url('images/background.jpg');
    max-width: 100%;
    height:auto;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 10% 12% 5% 5%;  /* margin left, margin right, up, down*/
}

.socials ol li{
    list-style-type: none;
}

.socials {
    position: fixed;
    top: 15%;
    right: 0%;
    z-index: 2;
}
.socials img {
    width: 6em;
    height: 6em;
    background-color: rgba(255, 255, 255, 0.2);
}


.header {
    max-width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: 8em;
    margin-bottom: 1.875em;
    padding: 1.25em ;
}

.header #current-dot{
    position: absolute;
    top:20%;
    left: 33.5%;
    width: 1.875em;
    height: 1.875em;
}

.header h1{
    font-size: 6em;
    color: rgb(176, 243, 44);
    margin: 0;
}
.header h2{
    font-size: 6em;
    color: rgb(176, 243, 44);
    margin: 0;
}
.header h3{
    font-size: 6em;
    color: rgb(176, 243, 44);
    margin: 0;
}

.content-1{
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(50, 171, 212);
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    font-size: 5em;
    padding: 1%;
    margin-bottom: 1%;
    width: 100%;
    position: relative;
}

.content-1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    background: rgb(50, 171, 212);
}

.content-2{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    max-width: 100%;
}

.fire{
    background-color: rgba(255, 255, 255, 0.2);
    color:white;
    border-radius: 0.3750em;
    text-align:left;
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.25em;
    position: relative;
}

.fire::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    background: orange;
}

.fire_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 125%;
    font-size: 1.2500em;
}

.fire_img_container{
    aspect-ratio: 14/15;
}

#fire_img {
    max-width: 100%;
    height: auto;
    align-self: flex-start;
}

.fire h1{
    text-align: center;
    color: orange;
}

.pack{
    background-color: rgba(255, 255, 255, 0.2);
    color:white;
    border-radius: 0.3750em;
    text-align:left;
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.25em;
    position: relative;
}
.pack::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    background: orange;
}
.pack_img_container{
    aspect-ratio: 14/15;
}

#pack_img {
    width: 100%;
    height: auto;
    align-self: flex-start;
}

.pack h1{
    text-align: center;
    color: orange;
}

.pack_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3750em;
    font-size: 1.2500em;
}

.content-3{
    display: flex;
    justify-content: space-between;
    gap: 1.5625em;
    width: 100%;
}

.giardia{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 0.3750em;
    text-align: left;
    padding: 1.2500em;
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
}

.giardia::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    background: rgb(246, 60, 91);
}

.giardia h1{
    color: rgb(246, 60, 91);
    text-align: flex-start;
    font-size: 3.75em;
}

.giardia_img_container{
    aspect-ratio: 12/13;
}

#giardia_img{
    width: 100%;
    height: 100%;
    align-self: flex-start;
}

.border-arrow{
    width: 0;
    height: 0;
    border-top: 0em solid transparent;
    border-right: 4.0625em solid rgb(246, 60, 91);
    border-bottom: 4.0625em solid transparent;
    margin-bottom: 0.9375em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    top: 9%;
    z-index: 1;
}

.giardia_header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5625em;
}

.giardia_p1{
    float: left;
    width: 45%;
    font-size: 1.2500em;
}

.giardia_p2 {
    float: right;
    width: 45%;
    font-size: 1.2500em;
}
.slideshow-container {
  position: relative;
  margin-top: 3%;
  display: block; 
  width: 100%;
  aspect-ratio: 16/7;
  max-height: 60vh; 
  overflow: hidden; 
  object-fit:contain;
  margin-bottom: 1.875em;
}

.slideshow-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    background: rgb(50, 171, 212);
    z-index: 1;
}

.slideshow-container #slideshow-title {
    color: rgb(50, 171, 212);
    font-size: 4.375em;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;
}

.slideshow-container .mySlides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.slideshow-container .mySlides.active {
  display: block;
}

.slideshow-container .mySlides img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    display: block;
}

/* Next & previous buttons */
.next{
    width: 0;
	height: 0;
	border-top: 1.5625em solid transparent;
	border-left: 3.125em solid rgba(255, 255, 255, 0.5);
    color: white;
	border-bottom: 1.5625em solid transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    border-radius: 0.1875em 0 0 0.1875em;
    margin-right: 3.125em;
    z-index: 2;
}

.prev{
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid rgba(255, 255, 255, 0.5);
    color: white;
	border-bottom: 25px solid transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    border-radius: 3px 0 0 3px;
    margin-left: 50px;
    z-index: 2;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 6%;
  width: 100%;
  text-align:right;
  z-index: 2;
}

.text h1{
    font-size: 40px;
    margin-right: 7%;
}

/* The dots/bullets/indicators */

.dots{
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
    z-index: 2;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot::after{
    display: inline-block;
    width: 10px;
    height: 10px;
}

.active, .dot:hover {
  background-color: rgb(50, 171, 212);
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.content-four{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
}

.fire{
    background-color: rgba(255, 255, 255, 0.2);
    color:white;
    border-radius: 6px;
    text-align:left;
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 20px;
    position: relative;
}

#flame_icon{
    position: absolute;
    top: 1%;
    right: 0%;
    width: 20px;
    height: 45px;
    z-index: 2;
}

.fire::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    background: orange;
}

.fire_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    font-size: 20px;
}

.border-arrow-two{
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 65px solid orange;
    border-bottom: 65px solid transparent;
    margin-bottom: 15px;
    position: absolute;
    top: 5%;
    transform: translate(0, -50%);
    right: 0;
    top: 11%;
    z-index: 1;
}

.fire_img_container{
    aspect-ratio: 14/15;
}

#fire_hammock {
    width: 100%;
    height: 100%;
    align-self: flex-start;
}

.fire h1{
    text-align: center;
    color: orange;
}

hr{
    width: 100%;
    border: 1px solid white;
    margin-top: 3%;
}

.copyright{
    text-align: center;
    color: grey;
    margin-top: 20px;
    font-size: 25px;
}

@media (max-width:100em) {
    .header{
        min-width: 35%;
        gap: 50px;
    }
    .socials img {
        width: 40px;
        height: 40px;
    }
    .header #current-dot{
        position:absolute;
    }
    .slideshow-container #slideshow-title {
        font-size: 40px;
        top: 2%;
        left: 2%;
    }
    .header h1{
        font-size: 20px;
    }
    .header h2{
        font-size: 20px;
    }
    .header h3{
        font-size: 20px;
    }
    .content-1{
        flex-direction: column;
        font-size:40px;
    }
    .content-2{
        flex-direction: column;
    }
    .content-3{
        flex-direction: column;
    }
    #giardia_img{
        width: 100%;
        height: auto;
    }
    .content-four{
        flex-direction: column;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .content {
        padding: 16px;
    }
}
